* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "Reey Regular";
  src: url("Reey-Regular.woff") format("woff")
       ;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke; /*Whitesmoke */
  color: #fff;
  max-width: 100vw;
  margin: 0 auto;
}

/* FIXED NAVBAR */
nav {
  position: fixed;
  top: 1vw;
  left: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 1vw 1vw;
  z-index: 1000;
  font-size: 1vw;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2vw;
}

.nav-links li {
 display:flex;
}

.nav-links a {
  font-size: 1.2vw;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: #c89b3c;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #c89b3c;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.4vw;
  border: none;
  border-radius: 2vw;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  width: 15vw;
  left: 40vw;
  position: absolute;
}

.search-bar button {
  position: absolute;
  padding: 1vw;
  border: none;
  background: black;
  color: white;
  border-radius: 2vw;
  cursor: pointer;
  left: 53.8vw;
}

.search-bar button:hover {
  background: #b38732;
}

/* Logo */
.home-logo {
  position: fixed;
  min-width: 30px;
  width: 8vw;
  left: 10vw;
  top: 0.1vw;
}

/* HOME SECTION */
.home {
  width: 100%;
  min-height: 50vw;
  background: url("HeaderBackground1.png") center/cover no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr; /* left text, right images */
  align-items: center;
  padding: 5vw;
  gap: 3vw;
}



/* Heading */
.main-heading {
  position: absolute;
  left: 7vw;
  top: 15vw;
  font-size: 7vw;
  font-weight: 40;
  color: #ffffff;
  font-family: "Reey Regular";
  filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
}

/* Subtitle */
.subtitle {
  position: absolute;
  left: 10vw;
  top: 27vw;
  font-size: 2vw;
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
  font-family: "Open Sans";
  text-align: center;
}

/* Read More Button */
.read-more-btn {
  position: absolute;
  top: 32vw;
  left: 10vw;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5vw;
  color: #2e3034;
  font-weight: 800;
  font-family: sans-serif;
  border-radius: 2vw;
  padding: 0.8vw 2vw;
}

/* Body Text */
.body-text {
  position: absolute;
  left: 10vw;
  top: 40vw;
  font-size: 2.2vw;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  width: 42vw;
}

/* Food Images */
.food-image {
  position: absolute;
}

.food-1 {
  width: 40vw;
  left: 65vw;
  top: 40vw;
  z-index: 4;
}

.food-2 {
  width: 40vw;
  left: 55vw;
  top: 13vw;
  z-index: 3;
}

.food-3 {
  width: 20vw;
  left: 45vw;
  top: 40vw;
  z-index: 2;
}

.heading2 {
  position: absolute;
  font-size: 6vw;
  color: #222328;
  font-family: "Reey Regular";
  width: 100vw;
  top: 65vw;
  text-align: center;
}

.subtitle2 {
  position: absolute;
  font-size: 2vw;
  color: #2f3135;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
  top: 77vw;
  left: 25vw;
  right: 25vw;
}

.content1 {
  position: absolute;
  top: 95vw;
  left: 10vw;
  width: 20vw;
  color: #343434;
}

.content1pic {
  width: 100%;
 filter: drop-shadow(0vw 2vw 0.5vw grey);
}

.content1title {
  margin-top: 1vw;
  font-size: 3vw;
  font-weight: 700;
  font-family: "Open Sans";
}

.content1description {
  width: 100%;
  font-size: 2.7vw;
  color: #343434;
  font-weight: 400;
  font-family: "Open Sans";
}

.content2 {
  position: absolute;
  width: 20vw;
  top: 95vw;
  left: 40vw;
  color: #343434;
}
.content2pic {
  width: 100%;
  filter: drop-shadow(0vw 2vw 0.5vw grey);
}

.content2title {
  margin-top: 1vw;
  width: 100%;
  font-size: 3vw;
  color: #343434;
  font-weight: 700;
  font-family: "Open Sans";
}

.content2description {
  width: 100%;
  font-size: 2.7vw;
  color: #343434;
  font-weight: 400;
  font-family: "Open Sans";
}
.content3 {
  position: absolute;
  width: 20vw;
  top: 95vw;
  left: 70vw;
  color: #343434;
}

.content3pic {
  width: 100%;
  filter: drop-shadow(0vw 2vw 0.5vw grey);
}

.content3title {
  margin-top: 1vw;
  width: 100%;
  font-size: 3vw;
  color: #343434;
  font-weight: 700;
  font-family: "Open Sans";
}
.content3description {
  width: 100%;
  font-size: 2.7vw;
  color: #343434;
  font-weight: 400;
  font-family: "Open Sans";
}

